.service-title {
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 2.5;
}
.modification-service {
  margin-top: 10px;
  margin-bottom: 16px;
}

.heading-contact {
  text-align: center;
}

.service-modification {
  text-align: center;
  margin-top: 2.5%;
}

.service-h3 {
  margin-top: 2%;
}

.form {
  text-align: center;
  padding: 5%;
  background-color: #f0f5f5;
}

.services {
  margin-top: 5%;
  margin-bottom: 5%;
}

.carousel-item {
  height: 500px;
}

.title-image {
  width: 200px;
  height: 110px;
}

.title-bar {
  padding-bottom: 20px;
}

.h3-title {
  display: inline-block;
}

.title-list {
  list-style-type: none;
  float: right;
}

li {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: black;
}

.contact-h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contacts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-img {
  width: 250px;
  height: 180px;
}

.our-social a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

@media only screen and (max-width: 700px) {
  .title-image {
    float: left;
    width: 100px;
    height: 60px;
  }
  .h3-title {
    float: right;
    width: 250px;
    font-size: 15px;
    margin-top: 12px;
  }

  .title-list {
    display: none;
  }

  .carousel-item {
    margin-top: 12px;
  }

  .contacts {
    text-align: center;
  }

  .contact-img {
    text-align: center;
  }

  .contact-modify {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 0;
  }

  .carousel {
    height: 225px;
  }

  .form {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-img {
    text-align: center;
    margin-left: 80px;
  }
}
